.menu-section {
    padding: 60px;
    background-color: #fff;
    text-align: center;
}

.menu-section h2 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
    color: black;
}


.menu-items {
    display: flex;
    justify-content: flex-start, flex-end; 
    gap: 30px;
    overflow-x: auto; 
    padding-top: 10px;
    padding-left: 70px;
    scroll-snap-type: x mandatory; 
}

.menu-item {
    text-align: center;
    font-size: 17.5px;
    transform: translateX(-50px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.menu-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.menu-item img:hover {
    transform: scale(1.1); 
}

.menu-item p {
    margin: 10px 0;
}

.menu-item p:last-child {
    font-weight: bold;
}

.drink-section {
    padding: 60px;
    background-color: #fff;
    text-align: center;
}

.drink-section h2 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
}

.drink-items {
    display: flex;
    justify-content: flex-start, flex-end;
    gap: 30px;
    overflow-x: auto;
    padding-top: 10px;
    padding-left: 70px;
    scroll-snap-type: x mandatory; 
}

.drink-item {
    min-width: 250px; 
    text-align: center;
    font-size: 17.5px;
    transform: translateX(-50px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.drink-item img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.drink-item img:hover {
    transform: scale(1.1); 
}

.drink-item p {
    margin: 10px 0;
}

.drink-item p:last-child {
    font-weight: bold;
}

.menu-items::-webkit-scrollbar, .drink-items::-webkit-scrollbar {
    padding-top: 20px;
    height: 10px;
}

.menu-items::-webkit-scrollbar-thumb, .drink-items::-webkit-scrollbar-thumb {
    background-color: #e7dcdc2a;
    border-radius: 4px;
}

.menu-items::-webkit-scrollbar-thumb:hover, .drink-items::-webkit-scrollbar-thumb:hover {
    background-color: #b45f10;
}